* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-transition: all .5;
    transition: all .5;
}

body {
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);

}

.swiper-container {
    position: relative;
    bottom:1.7067rem;
    width: 100%;
    height: 33.333333rem;
}

.money {
    position: absolute;
    /* top: 10.053333rem; */
    top: .8rem;
    left: 7.386667rem;
    width: 1.706667rem;
    height: 2.106667rem;
    background: transparent url(./image/money.png) no-repeat center center;
    background-size: cover;
    z-index: 2;
}

.person {
    position: absolute;
    top: 10.533333rem;
    left: 2.133333rem;
    width: 2.72rem;
    height: 4.133333rem;
    background: transparent url(./image/person1.png) no-repeat center center;
    background-size: cover;
}

/* .person .string {
    position: absolute;
    top: 1.813333rem;
    left: 0;
    width: .906667rem;
    height: 1.733333rem;
    z-index: -1;
    background: transparent url(./image/string.png) no-repeat center center;
    background-size: cover;
} */

.seesaw1 {
    position: absolute;
    top: 11.093333rem;
    left: 3.093333rem;
    width: 6.253333rem;
    height: 3.04rem;
    background: transparent url(./image/seesaw-straight.png) no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.seesaw2 {
    position: absolute;
    top: 11.866667rem;
    left: 3.333333rem;
    width: 6.013333rem;
    height: 2.453333rem;
    background: transparent url(./image/seesaw-bend.png) no-repeat center center;
    background-size: cover;
    opacity: 0;
    z-index: -1;
}

.cloud {
    position: absolute;
    top: 13.413333rem;
    left: 4.266667rem;
    width: 4.8rem;
    height: 2.133333rem;
    background: transparent url(./image/cloud.png) no-repeat center center;
    background-size: cover;
}

.tower1 {
    position: absolute;
    top: 14.56rem;
    left: .693333rem;
    width: 2.266667rem;
    height: 3.106667rem;
    background: transparent url(./image/tower-straight.png) no-repeat center center;
    background-size: cover;
}

.tower2 {
    position: absolute;
    top: 14.373333rem;
    left: .8rem;
    width: 2.826667rem;
    height: 3.306667rem;
    background: transparent url(./image/tower-bend.png) no-repeat center center;
    background-size: cover;
    display: none;
}

.talk {
    position: absolute;
    top: 2.64rem;
    left: 2.346667rem;
    width: 5.293333rem;
    height: 7.96rem;
    background: transparent url(./image/talk.png) no-repeat center center;
    background-size: cover;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.line-one {
    position: absolute;
    top: 17.68rem;
    left: 0;
    height: .106667rem;
    width: 100%;
    background-color: black;
}

.line {
    position: absolute;
    top: -15.653333rem;
    left: .533333rem;
    width: 8.933333rem;
    height: .106667rem;
    background: transparent url(./image/line.png) no-repeat center center;
    background-size: cover;
}

.talk2 {
    position: absolute;
    /* top: 1.466667rem; */
    top: -15.466667rem;
    left: 6rem;
    width: .44rem;
    height: 5.466667rem;
    background: transparent url(./image/talk2.png) no-repeat center center;
    background-size: cover;
    display: none;
}

.person2 {
    position: absolute;
    /* top: 8.8rem; */
    top: -13.333333rem;
    left: 2.693333rem;
    width: 3.533333rem;
    height: 4rem;
    background: transparent url(./image/person2.png) no-repeat center center;
    background-size: cover;
    z-index: 2;
    display: none;
}

.weigh-bridge {
    position: absolute;
    top: 12rem;
    left: 2.08rem;
    width: 7.333333rem;
    height: 4.613333rem;
    background: transparent url(./image/weigh-bridge.png) no-repeat center center;
    background-size: cover;
}

.num {
    position: absolute;
    top: 14.133333rem;
    left: 5.706667rem;
    width: 1.266667rem;
    height: .853333rem;
    background: transparent url(./image/number.png) no-repeat center center;
    background-size: cover;
    display: none;
}